<?xml version="1.0" encoding="utf-8"?>
<!-- Game Configuration -->
<config>
  <window>
    <Title>This is real life</Title>
    <R_FULLSCREEN>false</R_FULLSCREEN>
    <R_BORDERLESS>false</R_BORDERLESS>
    <R_RESIZABLE>false</R_RESIZABLE>
    <R_FULLSCR_WINDOWED>false</R_FULLSCR_WINDOWED>
    <SCREEN_WIDTH>640</SCREEN_WIDTH>
    <SCREEN_HEIGHT>480</SCREEN_HEIGHT>
    <SCALE>1</SCALE>
  </window>
  <file_system>
    <ORGANIZATION>My Awesome Studio</ORGANIZATION>
    <APPNAME>My cool game</APPNAME>
  </file_system>
  <renderer>
    <VSYNC>true</VSYNC>
  </renderer>
  <audio>
    <musicvolume>100</musicvolume>
    <fxvolume>100</fxvolume>
  </audio>
</config>