<?xml version="1.0" encoding="utf-8"?>
<!-- Game Configuration -->
<config>
  <window>
    <TITLE>This is real life</TITLE>
    <R_FULLSCREEN id="false"/>
    <R_BORDERLESS id="false"/>
    <R_RESIZABLE id="false"/>
    <R_FULLSCR_WINDOWED id="false"/>
    <SCREEN_WIDTH id="640"/>
    <SCREEN_HEIGHT id="480"/>
    <SCALE id="1"/>
  </window>
  <file_system>
    <ORGANIZATION>My Awesome Studio</ORGANIZATION>
    <APPNAME>My cool game</APPNAME>
  </file_system>
  <renderer>
    <VSYNC id="true"/>
  </renderer>
  <audio>
    <!-- Volume max 128 -->
    <MUSICVOLUME id="128"/>
    <FXVOLUME id="128"/>
  </audio>
</config>